.entities_card {
    width: 250px;
    margin: 8px;
    cursor: default;
}
.entities_card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.entities_card_header {
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 16px!important;
}
.entities_card_action {
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px!important;
}
.entities_card_action_icon {
    margin-right: 16px;
}
.entities_card_header_tooltip {
    font-size: 14px;
}